
  .custom-navbar {
  border-bottom: 2px solid #f0f0f0; /* Add a bottom border */
}

.custom-brand {
  font-size: 1.2rem; /* Increase font size for brand */
  color: #333; /* Change brand color */
}

.custom-link {
  padding: 0.5rem 1rem; /* Add padding to links */
}
.custom-brand:hover{
  background-color: rgb(66, 116, 226);
  border-radius: 0.25rem; /* Add border radius */

}

.custom-link:hover {
  color: #007bff; /* Change text color on hover */
  background-color: #3771ac; /* Add background color on hover */
  border-radius: 0.25rem; /* Add border radius */
}
